.dropMenu{
    display: inline-grid;
}
.dropMenu select{
    cursor: pointer;
}
.error{
    color: red;
    padding: 0px;
    margin: 0px;
    font-weight: 500;
}
select{
    height: 23px;
    border-radius: 10px;
    padding-left: 5px;
}